name: Reply PR

# read-write repo token
# access to secrets
on: 
  workflow_run:
    workflows: ["Get Colabs"]
    types:
      - completed
defaults:
  run: { shell: bash }
jobs:
  download_payload:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-python@v3
      with:
        python-version: 3.9
    - name: Run script
      env:
        CONTEXT_GITHUB: ${{ toJson(github) }}
      run: |
        pip install -Uq ghapi nb_helpers
        python .github/scripts/pr_reply2.py