name: Get Colabs
on:
  workflow_dispatch:
  pull_request:
    paths:
      - '**.ipynb'
defaults:
  run: { shell: bash }
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-python@v3
      with:
        python-version: 3.9
    - name: Run script
      env:
        CONTEXT_GITHUB: ${{ toJson(github) }}
      run: |
        pip install -Uq ghapi nb_helpers
        python .github/scripts/pr_reply1.py
    - uses: actions/upload-artifact@v3
      with:
        name: pr_comment
        path: modified_colabs.json